# PORT NUMBER
PORT=3030

# HOST
HOST=127.0.0.1

# MONGO ACCESS URI
MONGODB_URI=mongodb://127.0.0.1:27017/database-name

# SUCURE ACCESS TOKEN KEY
ACCESS_TOKEN_KEY=access-token-key

# ACCESS TOKEN TIME
ACCESS_TOKEN_TIME="15h"

# SECURE REFRESH TOKEN KEY
REFRESH_TOKEN_KEY=regenerat-token-key

# REFRESH TOKEN TIME
REFRESH_TOKEN_TIME="15d"

# COOKIE EXPIRING TIME
COOKIE_TIME=0

# SMTP PASSWORD
SMTP_PASSWORD=smtp-password

# SMTP HOST
SMTP_HOST=smtp.mail.com

# SMTP PORT
SMTP_PORT=587

# SMTP USER MAIL
SMTP_USER=user@mail.com

# FULL API HOST
API_HOST=http://127.0.0.1:3000

# REDIS ACCESS URI
REDIS_URL=redis://...